# Can leave IDs and secrets blank and use environment variables,
# command-line arguments, or receive interactive command prompt

[Source] # This is the API we read from
source_env_client_id =
source_env_client_secret =
[Target] # This is the API we write to
target_env_client_id =
target_env_client_secret =
[APIs] # Set to True or False
host_groups = False
custom_ioa_rules = False
device_control_policies = False
indicators_of_compromise = False
machine_learning_exclusions = False
prevention_policies = False
ioa_exclusions = False
sensor_update_policies = False
sensor_visibility_exclusions = False
[Proxy] # IP:port, e.g. 127.0.0.1:8080
proxy_ip =
